:root{
    --default-button: #1976d2;
    --default-button-hover: #1564b3;
    --primary-button: #443d70;
    --primary-button-hover:#282441;
    --secondary-button: #ff0099 ;
    --secondary-button-hover: #d3007f ;
    --success-button: #28a745;
    --success-button-hover:#1d7932;
    --warning-button-hover:#d39e00;
    --warning-button:#ffc107;
    --danger-button:#dc3545;
    --danger-button-hover:#a52734;
    --info-button:#17a2b8;
    --info-button-hover:#117888;
    --light-button: #f8f9fa;
    --light-button-hover: #e7e7e7;
    --dark-button: #343a40;
    --dark-button-hover: #131518;
}

/* Floating Action Button */
.na-fab.na-fab-standard{
    border-radius: 100%;
    display:flex;
    font-size: 1.5rem;
    height:1em;
    width:1em;
    justify-content: center;
    align-items: center;
    padding:1.5rem;
    background-color: var(--default-button);
    box-shadow: 0 0 6px var(--default-button-hover);
}

.na-fab.na-fab-standard:hover{
    background-color: var(--default-button-hover);
}

.na-fab.na-fab-standard:focus{
transition-property: rgba(25,118,210,0.9);
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transition-delay: 0.2s;
}

.na-fab.na-fab-extended{
    border-radius: 32px;
    display:flex;
    font-size: 1rem;
    padding:0.5rem 1rem;
    background-color: var(--default-button);
    box-shadow: 0 0 6px var(--default-button-hover);
}

.na-fab.na-fab-extended:hover{
    background-color: var(--default-button-hover);
}

.na-fab.na-fab-extended:focus{
transition-property: rgba(25,118,210,0.9);
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transition-delay: 0.2s;
}

.na-button{
    color:white;
    background-color: white;
    padding: 0.5rem 1rem;
    text-align:center;
    font-size: 1rem;
    display: inline-block;
    border-radius: 6px;
    cursor: pointer;
    border:none;
    box-shadow: 0 3px 5px -5px black;
}

.na-button:hover{
    transition:0.4s;
}

.na-button:focus{
    outline:none;
}


/* Filled Buttons*/

.na-default.na-filled{
    background-color: var(--default-button);
}

.na-default.na-filled:hover{
    background-color: var(--default-button-hover);
}

.na-default.na-filled:focus{
    box-shadow: 0 0 6px var(--default-button-hover);
}


.na-primary.na-filled{
    background-color: var(--primary-button);
}

.na-primary.na-filled:hover{
    background-color: var(--primary-button-hover);
}

.na-primary.na-filled:focus{
    box-shadow: 0 0 6px var(--primary-button-hover);
}

.na-secondary.na-filled{
    background-color: var(--secondary-button);
}

.na-secondary.na-filled:hover{
    background-color: var(--secondary-button-hover);
}

.na-secondary.na-filled:focus{
    box-shadow: 0 0 6px var(--secondary-button-hover);
}

.na-success.na-filled{
    background-color: var(--success-button);
}

.na-success.na-filled:hover{
    background-color: var(--success-button-hover);
}

.na-success.na-filled:focus{
    box-shadow: 0 0 6px var(--success-button-hover);
}

.na-danger.na-filled{
    background-color: var(--danger-button);
}

.na-danger.na-filled:hover{
    background-color: var(--danger-button-hover);
}

.na-danger.na-filled:focus{
    box-shadow: 0 0 6px var(--danger-button-hover);
}

.na-warning.na-filled{
    background-color: var(--warning-button);
}

.na-warning.na-filled:hover{
    background-color: var(--warning-button-hover);
}

.na-warning.na-filled:focus{
    box-shadow: 0 0 6px var(--warning-button-hover);
}

.na-info.na-filled{
    background-color: var(--info-button);
}

.na-info.na-filled:hover{
    background-color: var(--info-button-hover);
}

.na-info.na-filled:focus{
    box-shadow: 0 0 6px var(--info-button-hover);;
}

.na-light.na-filled{
    background-color: var(--light-button);
    color:black;
}

.na-light.na-filled:hover{
    background-color: var(--light-button-hover);
}

.na-light.na-filled:focus{
    box-shadow: 0 0 6px var(--light-button-hover);
}

.na-dark.na-filled{
    background-color: var(--dark-button);
}

.na-dark.na-filled:hover{
    background-color: var(--dark-button-hover);
}

.na-dark.na-filled:focus{
    box-shadow: 0 0 6px var(--dark-button-hover);;
}

/* Bordered Buttons */

.na-default.na-bordered{
    color: var(--default-button);
    border: solid 1px var(--default-button);
    
}

.na-default.na-bordered:hover{
    background-color: var(--default-button);
    color:white;
}

.na-default.na-bordered:focus{
    box-shadow: 0 0 6px var(--primary-button-hover);
}

.na-primary.na-bordered{
    color: var(--primary-button);
    border: solid 1px var(--primary-button);
    
}

.na-primary.na-bordered:hover{
    background-color: var(--primary-button);
    color:white;
}

.na-primary.na-bordered:focus{
    box-shadow: 0 0 6px var(--primary-button-hover);
}

.na-secondary.na-bordered{
    color: var(--secondary-button);
    border: solid 1px var(--secondary-button);
    
}

.na-secondary.na-bordered:hover{
    background-color: var(--secondary-button);
    color:white;
}

.na-secondary.na-bordered:focus{
    box-shadow: 0 0 6px var(--secondary-button-hover);
}

.na-success.na-bordered{
    color: var(--success-button);
    border: solid 1px var(--success-button);
    
}

.na-success.na-bordered:hover{
    background-color: var(--success-button);
    color:white;
}

.na-success.na-bordered:focus{
    box-shadow: 0 0 6px var(--success-button-hover);
}

.na-danger.na-bordered{
    color: var(--danger-button);
    border: solid 1px var(--danger-button);
    
}

.na-danger.na-bordered:hover{
    background-color: var(--danger-button);
    color:white;
}

.na-danger.na-bordered:focus{
    box-shadow: 0 0 6px var(--danger-button-hover);
}

.na-warning.na-bordered{
    color: var(--warning-button);
    border: solid 1px var(--warning-button);
    
}

.na-warning.na-bordered:hover{
    background-color: var(--warning-button);
    color:white;
}

.na-info.na-bordered:focus{
    box-shadow: 0 0 6px var(--info-button-hover);
}

.na-info.na-bordered{
    color: var(--info-button);
    border: solid 1px var(--info-button);
    
}

.na-info.na-bordered:hover{
    background-color: var(--info-button);
    color:white;
}

.na-info.na-bordered:focus{
    box-shadow: 0 0 6px var(--info-button-hover);
}

.na-light.na-bordered{
    color: black;
    border: solid 1px black;
    
}

.na-light.na-bordered:hover{
    background-color: var(--light-button-hover);
    color:black;
}

.na-light.na-bordered:focus{
    box-shadow: 0 0 6px var(--light-button-hover);
}

.na-dark.na-bordered{
    color: var(--dark-button);
    border: solid 1px var(--dark-button);
    
}

.na-dark.na-bordered:hover{
    background-color: var(--dark-button);
    color:white;
}

.na-dark.na-bordered:focus{
    box-shadow: 0 0 6px var(--dark-button-hover);
}
