.na-list-group{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.125);
}

.na-list-group-flush{
    border:none;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.na-list-group:last-child{
    border-bottom: none;
}

.na-list-item{
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.na-list-item-active{
    color: white;
    background-color: #007bff;
    border-color: #007bff;
    z-index: 2;
}

.na-list-item-disabled{
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
}