.na-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
.na-modal-content {
    background-color: #fefefe;
    position: relative;
    margin: 1.75rem auto;
    border: 1px solid #888;
    border-radius: 4px;
  }

.na-modal-animation-true{
    /* TODO */
    transition:all 1s ease-in-out;
}
.na-modal-show{
    display:block;
}

.na-modal-title{
    border-bottom: 1px solid #dee2e6; 
    padding: 1rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
}

.na-modal-dismiss{
    margin-left: auto;
    background: none;
    color: #5e5d5d;
    border:none;
    cursor:pointer;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
}

.na-modal-dismiss:hover{
    
    color: #212121;
    cursor:pointer;
}

.na-modal-dismiss:focus{
    outline:none;
}

.na-modal-body{
    border-bottom: 1px solid #dee2e6; 
    padding: 1rem 0.5rem;
    font-size: 1.1rem;
}

.na-modal-footer{
    padding: 1rem 0.5rem;
    font-size: 1.1rem;   
}


.na-modal-hide{
    display:none;
}